:root {
  /* Colors */
  --primary-color: #424242;
  --primary-active-color: #007bff;
  --secondary-active-color: #ecedee;

  --accent-color: #f8f9fa;
  --text-color: #ccc;
  --white-color: #fff;
  --black-color: #000;

  /* Fonts */
  --font-primary: "Helvetica Neue", Arial, sans-serif;
  --font-secondary: "Georgia", serif;
}
