.user-profile {
  width: 30vw;
  max-width: 300px;
  height: 400px;
  overflow: hidden;
  border: 1px solid var(--accent-color);
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
  align-content: center;
  background-color: var(---white-color);
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.user-profile:hover {
  transform: scale(1.05);
}
.user-profile img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.user-profile-header {
  border-bottom: 1px dotted var(--primary-color);
  height: 200px;
}
.user-profile-footer {
  height: 100px;
}
.user-email,
.user-phone,
.location-title {
  font-size: 0.8rem;
}
.user-phone {
  font-style: italic;
}
.location-title {
  color: var(--black-color);
  font-style: italic;
  font-weight: bold;
  font-family: var(--font-secondary);
}
.user-name {
  margin: 10px 0;
  font-weight: 500;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.user-profile p {
  margin: 2px;
}
.user-profile ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}
.user-profile ul li {
  margin: 10px 0;
  font-size: 0.875rem;
  line-height: 1.43;
}
/* Media query for Mobile devices */
@media (max-width: 900px) {
  .user-profile {
    width: 90vw;
    max-width: none;
  }
}

@media (min-width: 901px) and (max-width:1280px) {
  .user-profile {
    width: 40vw;
    max-width: none;
  }
}
